
body {
  color: #696e76;
  font-family: 'Open Sans', sans-serif;
  background-color: #fefafc;
}

img {
  border-radius: 20px;
}

footer {
  background-image: url('dog-footer.png');
  background-repeat: repeat-x;
  background-size: 300px;
  height: 100px;
}

h1 {
  font-family: 'Luckiest Guy', sans-serif;
  color: #e51b5d;
}

.spacer {
  height: 100px;
}

.container {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  color: #696e76;
  box-shadow: 0 5px 30px -5px rgba(0,0,0,.2);
}

.menu {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

ul {
  margin: 10px;
}

.navbar-item {
  margin: 10px .5vw;
  padding: 0 15px;
  font-size: 18px;
}

.navbar-item a:hover {
  cursor: pointer;
  color: #e51b5d;
}

.hire-me-button {
  color: #fff;
  background-color: #e51b5d;
  padding: 3px 6px;
  font-weight: 700;
  border-radius: .25rem;
  transition: all .2s;
  display: inline-block;
  cursor: pointer;
  margin-left: 30px;
}

.project {
  background-color: #fff;
  box-shadow: 0 0 15px 0 #e4e4e4;
  margin: 1vw;
  border-radius: 20px;
  width: 27vw;
  min-width: 300px;
  padding: 2vw;
  filter: alpha(opacity=60);
  align-self: stretch;
  transition: all .5s;
  cursor: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}



